.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(0, 0%, 98%);
    color: hsl(229, 6%, 66%);
    font-family: 'Poppins';
    overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: hsl(234, 12%, 34%);
}

.strange {
    color: hsl(229, 6%, 66%);
    font-weight: lighter;
}

header {
    text-align: center;
    width: 90vw;
    margin: auto;
    font-size: 14px;
}

header p {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.card {
    background-color: white;
    border-top: 5px solid black;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 1px 1px 7px black;
    box-sizing: border-box;
    position: relative;
    margin: 15px auto;
}

.ciano {
    border-color: hsl(180, 62%, 55%);
}

.vermelho {
    border-color: hsl(0, 78%, 62%);
}

.laranja {
    border-color: hsl(34, 97%, 64%);
}

.azul {
    border-color: hsl(212, 86%, 64%);
}

.jonas {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: block;
}

img {
    max-width: 100%;
}